/** Add css rules here for your application. */
#time_sync_qr {
	float: left;
	clear: both;
	margin: 25px;
	padding: 25px;
    background-color: white;
}
#title_text {
	font: 24pt bold 'Vollkorn';
}
#help_button {
	clear: both;
	float: right;
}
#author_link {
	float: right;
}
#camera_panel {
	float: left;
	width: 350px;
	background-color: grey;
	height: 100%;
  	overflow: hidden;
}
#camera_list_outer {
	overflow: scroll; 
	width: 340px;
    height:90%;
}
#camera_list {
	width: 100%;
    overflow: scroll;
    height: 80%;
}
#fix_image_panel {
	float: left;
	height: 100%;
	min-width: 100px;
	overflow: scroll;
	background-color: lightgrey;
}
#image_panel {
	float: left;
	height: 100%;
	min-width: 300px;
}
.mainImage {
	position: absolute;
	max-width: 95%;
	max-height: 70%;
    width: auto;
    height: auto;
}
.mainImageTitle {
	position: absolute;
	bottom: 20px;
    font-size: 1.2em;
}
.timeLabel {
	margin-top: 20px;
}
.inner {
	white-space: nowrap;
}
.slide {
  position: relative;
  background-color: #ffc;
  border: 1px solid #999;
  height: 350px;
  margin: 1em 0;
  overflow: hidden;
  position: relative;
  width: 350px;
}
.slide .inner {
  padding: 20px;
  /**background-color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 338px;
*/
}
.js .slide .inner {
  display: none;
}
html,body,#wrapper {
    height:100%;
    margin:0;
    padding:0;
}
#wrapper {
    position:relative;
}
#top, #middle, #bottom {
    position:absolute;
}
#top {
    min-height:50px;
    width:100%;
    background:white;
}
#middle {
    top:50px;
    bottom:220px;
    width:100%;
    background:orange;
    overflow: hidden;
}
#bottom {
    bottom:0;
    min-height:150px;
    width:100%;
    background:grey;
}
#title_bar {
	width: 100%;
	height: 50px;
	background: black;
	font: 20pt bold 'Vollkorn';
	color: grey;
}
#file_drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  float: left;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  margin-left: 10px;
  width: 60%;
}
#delete_drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  float: left;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  margin-left: 10px;
  width: 100px;
	
}
#sync_drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  float: left;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}
.cameraOffsetDetails {
	float: left;
}
.cameraOffsetItem {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}
.camera_thumb {
  height: 75px;
  float: left;
  margin: 10px 5px 0 0;
}
.cameraDeleteButton {
	height: 24px;
}
.cameraTitle {
  	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.cameraOffsetSpin {
	clear: both;
}
.cameraOffsetSpinLabel {
	
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
.thumbnailImage {
	display: block;
    margin: 0 auto;
}
.thumbnailTitle {
	text-align: center;
}
.thumbnailImagePanel {
	float: left;
	margin-left: 5px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 5px;
    height: 100px;
}
.thumbnailFixImagePanel {
	clear: both;
	margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    height: 100px;
}
.thumbnailDeleteButton {
	top: -56px;
    height: 36px;
    left: 0px;
    position: relative;
}
.thumbnailOverlay {
	top: -56px;
    height: 36px;
    right: -75px;
    position: relative;
}
#browse_panel {
	float: left;
	width: 40%;
}
#copy_panel {
	position: absolute;
	bottom: 0;
	left: 350px;
}
#file_loaded_list {
}
.container-outer { overflow: scroll; width: 100%; height: 100px; }
.container-inner { width: 100px; }
#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  float: right;
  width: 50%;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#copydialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#copydialogbox > div{ background:#FFF; margin:8px; }
#copydialogbox > div > #copydialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#copydialogbox > div > #copydialogboxbody{ background:#333; padding:20px; color:#FFF; }
#copydialogbox > div > #copydialogboxfoot{ background: #666; padding:10px; text-align:right; }
#syncdialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#syncdialogbox > div{ background:#FFF; margin:8px; }
#syncdialogbox > div > #syncdialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#syncdialogbox > div > #syncdialogboxbody{ background:#333; padding:20px; color:#FFF; }
#syncdialogbox > div > #syncdialogboxfoot{ background: #666; padding:10px; text-align:right; }
#saveasdialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#saveasdialogbox > div{ background:#FFF; margin:8px; }
#saveasdialogbox > div > #saveasdialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#saveasdialogbox > div > #saveasdialogboxbody{ background:#333; padding:20px; color:#FFF; }
#saveasdialogbox > div > #saveasdialogboxfoot{ background: #666; padding:10px; text-align:right; }
