/* banner, to show logo and login options */
.banner-panel {
	width: 100%;
	height: 60px;
	/*background-color: #fcc;*/
	position: relative;
	top: 0px;
	left: 0px;
}
/* the application title */
#appTitle {
	float: left;
	font-size: 48px;
}
/* the image of time to show the user they can specify time */
#timeSelectImage {
	width: 128px;
	float: left;
}
#variableSelectPanel {
	padding: 10px;
	float: left;
	border: 1px solid #C9C7BA;
}
#entryLeftPanel {
	float: left;
	border: 1px solid #C9C7BA;
	padding: 10px;
}
/* the entry box to enter an event */
#eventEntry {
	width: 180px;
	float: bottom;
}
#logEventPanel {
	padding-top: 50px;
}
#logEventButton {
	float: left;
}
#selectedDate {
	font-size: large;
}
#selectedTime {
	font-size: large;
}
/* text inputs in general, to help spec a watermark*/
.textInput {
    border: 1px solid #C9C7BA;
    font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 2px;
    padding-top: 2px;
    height: 30px;
}
.info {
	font-size: xx-large;
	color: DarkGray;
}
 /* watermarking for text inputs */
.textInput-watermark {
   /* background-image: url('images/overlay.gif');
   background-repeat: no-repeat;
   padding-left: 20px;
   vertical-align: middle; */
   font-style: italic;
   color: DarkGray;
}
#appDataEntry {
	float:left;
	width: 100%;
}
#appValueEntry {
	float:left;
	width: 100%;
}
.entryValue {
	float: left;
	padding: 5px;
}
.valueSelect {
	padding: 10px;
}
#appDataDisplay {
	width: 100%;
}
/* the panel that contains the controls to track data */
#trackDataPanel {
	position: relative;
	float:left;
	align: left;
	width: 400px;
}
/* chart data panel */
#variablesChart {
	position: relative;
	float:left;
	width: 600px;
	height: 200px;
}
/* chart data panel */
#dataChartPanel {
	position: relative;
	float:left;
	/* border: 1px solid rgb(187, 187, 187);
	border-radius: 5px; */
}
/* chart data itself */
#dataChart {
	position: relative;
	float:left;
	width: 800px;
	height: 400px;
}

/* login panel, within the banner usually */
.login-panel {
	text-align: right;
	top: 0px;
	border: 1px solid #C9C7BA;
    font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: right;
}

/* logo panel, within the banner usually */
.logo-panel {
	float: left;
	height:100%;
	left: 0px;
}

/* this is the class for panel that contains the variable table */
#variableTablePanel {
	width: 90%;
}

/* this is the class for the title / name of the tracking label */
.variable-title {
	text-align: left;
}

/* this is the class for the description of the tracking label */
.variable-description {
	text-align: right;
}

/* this is the class for the variable table */
.variable-table {
	width: 100%;
}

/* variables list header row */
.table-header {
	background-color: #2062B8;
	color: white;
	font-style: italic;
	width: 100%;
}

/* variables list row */
.variable-row {
	width: 100%;
	margin-top: 5px;
}

/* variables list slider control */
.variable-slider {
	width: 150px;
	height: 48px;
	float: left;
}

/* the panel in the variables table to add one to the list */
#variableAddPanel {
	margin-top: 10px;
	width: 100%;
}

#variableLogButton {
	float: right;
}

#variableEntry {
	float: left;
	width: 180px;
}

#variableAddButton {
	float: left;
	align: left;
	vertical-align: center;
}

#dataChartDataPanel {
	float: left;
}

#dataChartSelectionPanel {
	float: left;
	padding: 10px;
}

#dataChartDateLabel {
    padding-left: 20px;
    padding-right: 20px;
}

#deleteSelectedData {
	float: left;
	align: left;
	vertical-align: middle;
}

.select-date-button {
	float: left;
	align: left;
	margin-left: 10px;
	vertical-align: middle;
}

.gwt-Button {
	vertical-align: middle;
}

/* variables list, the Remove button */
.gwt-Button-remove {
	width: 30px;
}

.gwt-DisclosurePanel-open {
}
.gwt-DisclosurePanel-closed {
}
.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
  text-decoration: none;  /* Remove underline from header */
  color: black;
  cursor: pointer;
  cursor: hand;
}
.gwt-DisclosurePanel .content {
  border-left: 3px solid #e7e7e7;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}